:root{
	--green: #628025;
	--black:#192a56;
	--light-color:#666;
	--box-shadow:0 .5rem 1.5rem rgba(0,0,0.1);
}

*{
	font-family: 'Open sans';
	margin: 0; padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none; border:none;
	text-transform: capitalize;
	transition:all .2s linear;
	color: white;
	}
section{
	padding: 2rem 9%;

}
section:nth-child(even){
	background: #eee;
}
html{
	font-size: 100%;
	overflow-x: hidden;
	scroll-padding-top: 5.5rem;
	scroll-behavior: smooth;
	background: #fff;

}
header{
	position: fixed;
	top:0; left: 0; right: 0;
	width: 1000px ;
	margin: 40px auto;
	background: #075AA9;
	padding: 1rem 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: var(--box-shadow);
}
.menu > li{
	position: relative;
	display: inline-block;
}
.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}
.menu li a:hover{
	color: #fff ;
	transition: all .3s;
}
/* Submenu*/
.submenu{
	position: absolute;
	background: #72b3be;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.submenu li a{
	display: block;
	padding: 15px;
	color: #000;
	font-family: 'Open sans';
	text-decoration: none;
}
.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
header.navbar{
	position: absolute;
	top:0; left: 0; right: 0;
	background: #fff;
	border-top: .1rem solid rgba(0,0,0.1);
}
header navbar a{
	font-size: 1.7rem;
	border-radius: .5rem;
	padding: .5rem 1.5rem;
	color: var(--light-color);
}
header .navbar a.active,
header .navbar a:hover{
	color: #fff;
	background: var(--green);
}

header .icons i,
header .icons a{
	cursor: pointer;
	margin-left: .5rem;
	line-height: 4.5rem;
	width: 4.5;
	text-align: center;
	font-size: 1.7rem;
	color: var(--black);
	border-radius: 50%;
	background:#192a56;

}
header .icons i:hover,
header .icons a:hover{
	color:#075AA9;
	background: var(--green);
	transform: rotate(360deg);
}
.home .home-slider .slide{
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 2rem;
padding-top: 9rem;
color: var(--black);

}
.home .home-slider .slide .content{
	flex:1 1 45rem;

}
.home .home-slider .slide .image{
	flex:1 1 45rem;
	
}
.home .home-slider .slide .image img{
width: 50%;
}
.home .home-slider .slide .content span{
	color:var(--green);
	font-size: 2.5rem;
}
.home .home-slider .slide .content h3{
	color: var(--black);
	font-size: 7rem;
}
.home .home-slider .slide .content p{
	color:var(--light-color);
	font-size: 2.2rem;
	padding: 5rem 0;
	
}




